:root {

    --bg: #141b1e;
    --fg: #a9a9aa;
    --link: #a7cdf4;
    --code_fg: #d8dee9;
    --code_bg: #20262D;
    --blue: #4f7193;
    --lightblue: #609BAC;
    --cyan: #8fbcbb;
    --yellow: #ebcb8b;
    --magenta: #b48ead;
    --red: #bf616a;
    --green: #63a764;
    --orange: #d08770;
    --gray: #616e88;
    
}